In [1]:
from datetime import datetime
# globalstart = datetime.now()
import pandas as pd
import numpy as np
# import matplotlib
# matplotlib.use('nbagg')

# import matplotlib.pyplot as plt
# plt.rcParams.update({'figure.max_open_warning': 0})

# import seaborn as sns
# sns.set_style('whitegrid')
import os
# from scipy import sparse
# from scipy.sparse import csr_matrix

# from sklearn.decomposition import TruncatedSVD
# from sklearn.metrics.pairwise import cosine_similarity
import random

In [2]:
start = datetime.now()
#if data.csv not exist it will go inside if
if not os.path.isfile('data1.csv'):
    # Create a file 'data.csv' before reading it
    # Read all the files in netflix and store them in one big file('data.csv')
    # We re reading from each of the four files and appendig each rating to a global file 'train.csv'
    data = open('data1.csv', mode='w')
    
    row = list()
    files=['combined_data_2.txt', 
           'combined_data_3.txt']
#     files=['combined_data_1.txt','combined_data_2.txt', 
#            'combined_data_3.txt','combined_data_4.txt']
    for file in files:
        print("Reading ratings from {}...".format(file))
        with open(file) as f:
            for line in f: 
                del row[:] # you don't have to do this.
                line = line.strip()
                if line.endswith(':'):
                    # All below are ratings for this movie, until another movie appears.
                    movie_id = line.replace(':', '')
                else:
                    row = [x for x in line.split(',')]
                    row.insert(0, movie_id)
                    data.write(','.join(row))
                    data.write('\n')
        print("Done.\n")
    data.close()
print('Time taken :', datetime.now() - start)

Reading ratings from combined_data_2.txt...
Done.

Reading ratings from combined_data_3.txt...
Done.

Time taken : 0:05:11.962107

In [5]:
# creating pickle data frame from our output csv file.
if not os.path.isfile('Data.pkl'):
    startTime = datetime.now()
    Final_Data = pd.read_csv('Data1.csv', sep=",", names = ["MovieID","CustID", "Ratings", "Date"])
    Final_Data["Date"] = pd.to_datetime(Final_Data["Date"])
    Final_Data.sort_values(by = "Date", inplace = True)
    print("Time taken for execution of above code = "+str(datetime.now() - startTime))

Time taken for execution of above code = 0:00:43.756189

In [6]:
# storing pandas dataframe as a picklefile for later use
if not os.path.isfile('Data.pkl'):
    Final_Data.to_pickle('Data.pkl')
else:
    Final_Data = pd.read_pickle('Data.pkl')

In [7]:
Final_Data.head()

          MovieID  CustID  Ratings       Date
38174877    11313  510180        2 1999-11-11
34645015    10774  510180        3 1999-11-11
24047847     8651  510180        2 1999-11-11
6465113      5571  510180        4 1999-11-11
22463125     8357  510180        4 1999-11-11

In [8]:
Final_Data.describe()["Ratings"]

count    4.957922e+07
mean     3.596462e+00
std      1.087642e+00
min      1.000000e+00
25%      3.000000e+00
50%      4.000000e+00
75%      4.000000e+00
max      5.000000e+00
Name: Ratings, dtype: float64

In [9]:
# just to make sure that all Nan containing rows are deleted..
print("Number of NaN values = "+str(Final_Data.isnull().sum()))

Number of NaN values = MovieID    0
CustID     0
Ratings    0
Date       0
dtype: int64

In [10]:
duplicates = Final_Data.duplicated(["MovieID","CustID", "Ratings"])
print("Number of duplicate rows = "+str(duplicates.sum())) # by considering all columns..( including timestamp)

Number of duplicate rows = 0

In [11]:
print("Total Data:")
print("Total number of movie ratings = "+str(Final_Data.shape[0]))
print("Number of unique users = "+str(len(np.unique(Final_Data["CustID"]))))
print("Number of unique movies = "+str(len(np.unique(Final_Data["MovieID"]))))

Total Data:
Total number of movie ratings = 49579220
Number of unique users = 478437
Number of unique movies = 8868